 @keyframes spin {
    to {
      transform: rotateZ(360deg);
    }
  }

.spinner{
    animation: spin 3s ease-in-out infinite;
    text-align:center;
    font-size:50px;
    display:none;
    margin:auto;
}

.dog-image{
    display: none;
    height:500px;
    width:500px;
    margin:auto;
}

.show{
    display: block;
}
section{
  background-color:aquamarine;
  height:150px;
  padding:0;
  margin:0;
    
}

.image-processing{
  margin:5% 25%;
}

h1{
  font-family:  sans-serif, Arial, Helvetica,;
  font-size-adjust: 15rem;
}
